In [1]:
import glob, os
import pandas as pd
import numpy as np

In [2]:
path = '../ebikes/data/datatest/'
all_files = glob.glob(os.path.join(path, "*.csv"))

In [ ]:
#print (all_files)
#print (type(all_files[0][-18:-4]))

In [3]:
df = pd.DataFrame()
#df = pd.concat((pd.read_csv(f) for f in all_files))

for f in all_files:
    _df = pd.read_csv(f)
    _temps = f[-18:-4]
    _df['date'] = pd.Series([pd.Timestamp(_temps)] * len(_df))
    
    _df = _df[['date','vehicleRegistration','lat', 'lon', 'charge']]
    _df = _df.rename(columns={'vehicleRegistration': 'plate'})
    
    df = pd.concat([df,_df])

### Sorting and cleaning index

In [4]:
sorteddf = df.sort_values('date')
sorteddf = sorteddf.reset_index().drop(columns= ['index'])

### Writing backup file w/ full df

In [5]:

sorteddf.to_csv('../ebikes/data/datatest/final/muving_data1.csv', header='column_names', index=False)
sorteddf.head()

                 date                  plate        lat       lon  charge
0 2018-09-13 14:21:26  7277KFP Scooter 125-B  41.391782  2.182641      77
1 2018-09-13 14:21:26  0900KFT Scooter 125-B  41.393072  2.170602      51
2 2018-09-13 14:21:26  5013KFS Scooter 125-B  41.419682  2.172684      79
3 2018-09-13 14:21:26  4726KFS Scooter 125-B  41.372394  2.131529      42
4 2018-09-13 14:21:26  4548KFS Scooter 125-B  41.401481  2.124199      50

In [8]:
sorteddf.tail()

                     date                  plate        lat       lon  charge
46534 2018-09-21 00:53:13  2328KFM Scooter 125-B  41.389588  2.117397      89
46535 2018-09-21 00:53:13  7492KFL Scooter 125-B  41.414405  2.165133      94
46536 2018-09-21 00:53:13  7459KFL Scooter 125-B  41.425798  2.149755      38
46537 2018-09-21 00:53:13  7554KFL Scooter 125-B  41.360827  2.135152      61
46538 2018-09-21 00:53:13  5793KGY Scooter 125-B  41.426862  2.182446      63

In [1]:
sorteddf.loc[sorteddf['plate'] == '^7492KFL']
for

SyntaxError: invalid syntax (<ipython-input-1-73a583e69db5>, line 2)

In [12]:
i = 0
listaplates = []
for item in sorteddf['plate']:
    listaplates.append(item)
    if i == 5:
        break
    i+=1
print (listaplates)

['7277KFP Scooter 125-B', '0900KFT Scooter 125-B', '5013KFS Scooter 125-B', '4726KFS Scooter 125-B', '4548KFS Scooter 125-B', '6903KFP Scooter 125-B']

## Test Loop checking gone bikes

In [7]:
gone_bikes = []
for i in sorteddf['plate']:
    if len(sorteddf.loc[sorteddf['plate'] == '8735KFM Scooter 125-B']) < 3:
        gone_bikes.append(i)
    
gone_bikes = set(gone_bikes)       
#print (gone_bikes)

KeyboardInterrupt: